
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat+Brush&family=DM+Sans:opsz,wght@9..40,500&family=Inter&family=Poppins:wght@500&family=Quicksand:wght@400;500;700&family=Roboto&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
    justify-content: center;
}

.containerSideBar{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 20%;
    justify-content: flex-start;
}

.sideBar{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    overflow-x: hidden;
    transition: 0.5s;
}

.sideBar.active{
    width: 0;
    overflow-x: hidden;
}

.kontenSideBar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
    gap: 2.5rem;
    background-color: #91DCD5;
    height: 100%;
    transition: 0.3s;
}

.kontenSideBar img{
    width: 50%;
    height: auto;
}

.kontenSideBar ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
}

.kontenSideBar li{
    list-style: none;
}

.kontenSideBar li span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.kontenSideBar li img{
    width: 2.5rem;
    height: auto;
}
.kontenSideBar a{
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.kontenSideBar a:hover{
    color: #91DCD5;
    background-color: white;
}

.toggle{
    height: 100%;
    width: 20%;
}



#tombolToggle{
    background-color: #F2DD6E;
    color: white;
    border: none;
    padding: 0.5rem;
    height: 100%;
    cursor: pointer;
    transition: 0.3s;
}

#tombolToggle:hover{
    opacity: 0.8;
}

.kontenSideBar.active{
    width: 0;
    overflow-x: hidden;
}

.wrapper{
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

header{
    margin: 2rem;
    
}

.superImage{
    color: #F2DD6E;
    padding: 12rem;
    background-image: url('/Kumpulan\ Icon\ dan\ Gambar/Foto Deskripsi.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.superImage h1{
   text-shadow: 5px 3px #523A34;
}

main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main article{
    width: 50%;
    text-align: center;
}

main h1{
    margin-bottom: 1.5rem;
    color: #523A34;
}

.deskripsi img{
    width: 50%;
}

.containerLayanan{
    margin: 5rem 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    gap: 1.5rem;
}


.containerLayanan img{
    width: 35%;
    height: auto;
}

.layanan a{
    text-decoration: none;
    color: white;
    background-color: #F2DD6E;
    border-radius: 2rem;
    padding: 1.2rem 3rem;
    transition:0.3s ;
}

.layanan a:hover{
    color: #F2DD6E;
    background-color: white;
}



.kumpulanTestimoni{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    padding: 1.5rem;
    margin: 2rem;
}

.kumpulanTestimoni span{
    color: white;
    background-color: #F2DD6E;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 2px 3px 5px #523A34;
    transition: 0.3s;
    cursor: pointer;
}

.testimoni span:hover{
    transform: scale(1.1,1.1);
}

footer{
    background-color: #523A34;
    color: white;
    padding: 2rem;
}